<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MRB_Review_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <MRB_Review_System.Properties.Settings>
            <setting name="MRB_Review_System_MES_Service" serializeAs="String">
                <value>http://mxchim0mestis10/wsMES/Mes.asmx</value>
            </setting>
            <setting name="MRB_Review_System_MES_TIS_MES_TIS" serializeAs="String">
                <value>http://mxchim0mestis07/MES-TIS/TIS.asmx</value>
            </setting>
        </MRB_Review_System.Properties.Settings>
    </applicationSettings>
</configuration>
